.container {
    max-width: 1170px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    margin: 0px;
    text-transform: uppercase;
}

p {
    font-family: 'Comfortaa', cursive;
    color: #ffffff;
}

.alignLeft {
    float: left;
}

.alignRight {
    float: right;
}

/* ---------- Navbar Style ---------- */

#mainArea > div > nav > ul {
    display: -webkit-inline-box;
    list-style: none;
}

#mainArea > div > nav > ul > li > a{
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    margin-left: 30px;
    text-transform:uppercase;
    border-bottom: 1px solid transparent;
    padding-bottom: 5px;
}

#mainArea > div > nav > ul > li > a:hover{
    border-bottom: 1px solid #ffffff;
}

.nav{
    float: right;
}

/* ---------- Navbar Style End ---------- */

#mainArea {
    background-image: url('../img/mainBg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 35px;
}

.mainContent {
    display: inline-block;
    text-align: center;
    margin-top: 200px;
}

h1 {
    font-size: 72px;
    color: #f1c40f;
    letter-spacing: 5px;
    margin-bottom: 40px;
}

.mainSlogan {
    width: 75%;
    margin: 0 auto;
}

.arrow {
    width: 100px;
    height: 100px;
    border: 5px solid;
    border-color: #f1c40f;
    border-radius: 50%;
    margin: 160px auto 120px auto;
}

.fa-angle-down {
    color: #f1c40f;
    font-size: 5em;
    line-height: 90px!important;
}

#features {
    background-color: #f1c40f;
    padding-top: 120px;
    padding-bottom: 120px;
}

#features .container {
    text-align: center;
}

h2 {
    font-size: 36px;
    color: #ffffff;
}

h2::after {
    content: " ";
    display: block;
    width: 200px;
    height: 1px;
    background-color: #ffffff;
    margin: 10px auto;
}

.sectionText {
    font-size: 18px;
    font-style: italic;
    width: 80%;
    margin: 15px auto 60px auto;
}

.feturesContent {
    display: inline-block;
}

.col-4 {
    width: 33.33%;
    float: left;
    padding: 0 20px;
}

h3 {
    color: white;
    font-size: 24px;
    margin-top: 15px;
}

.col-4 p {
    font-size: 14px;
}

#portfolio {
    background-color: #95a5a6;
    padding-bottom: 80px;
    padding-top: 120px;
    text-align: center;
}

.portfolioContent {
    display: inline-block;
}

#porfolio .container {
    text-align: center;
}

.item {
    position: relative;
    overflow: hidden;
}

.item:hover .overlay {
    top: 0;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(231, 76, 60, 0.8);
    padding-top: 40px;
    transition: top 0.4s;
}

.overlay {
    top: 100%;
}

#portfolio .row .col-4 {
    margin-bottom: 40px;
}

#team {
    background-color: #2ecc71;
    padding-top: 120px;
    padding-bottom: 120px;
}

#team .container {
    text-align: center;
}

.socialIcon {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.socialIcon li {
    display: inline;
}

.teamContent .row {
    overflow: hidden;
}

.socialIcon li .fab {
    font-size: 30px;
    color: #ffffff;
    padding-right: 5px;
    padding-left: 5px;
}

#contact {
    background-color: #34495e;
    padding-top: 120px;
    padding-bottom: 100px;
}

#contact .container {
    text-align: center;
}

.contactForm {
    width: 50%;
    margin: 0 auto;
}

input, textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    outline: none;
    border: none;
    height: 40px;
}

textarea {
    height: 160px;
}

input[type=submit] {
    background-color: #e75c3c;
    margin-top: 20px;
    color: white;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    cursor: pointer;
}

@media only screen and (max-width:1170px) {
    #mainArea .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media only screen and (max-width:768px) {
    .mainContent {
        margin-top: 150px;
    }
    h1 {
        font-size: 56px;
        margin-bottom: 20px;
    }
    .mainSlogan {
        font-size: 14px;
    }
    .arrow {
        width: 60px;
        height: 60px;
        margin: 120px auto 80px auto;
    }
    .fa-angle-down {
        font-size: 3em;
        line-height: 50px!important;
    }
    h2 {
        font-size: 24px;
    }
    h2::after {
        width: 120px;
        margin: 5px auto;
    }
    .sectionText {
        font-size: 14px;
        margin: 10px auto 30px auto;
    }
    h3 {
        font-size: 18px;
        margin-top: 10px;
    }
    .contactForm {
        width: 80%;
    }
}

@media only screen and (max-width:640px) {
    .col-4 {
        width: 100%;
        float: none;
        margin-bottom: 40px;
    }
    h1 {
        font-size: 48px;
        margin-bottom: 20px;
    }
    #mainArea>div>nav {
        margin-left: -20px;
        margin-top: -35px;
    }
    .navbar-toggle {
        position: fixed;
        top: 20px;
        right: 20px;
        width: 45px;
        height: 45px;
        z-index: 20;
        cursor: pointer;
        margin-top: 20px;
    }
    .bar1, .bar2, .bar3 {
        width: 80%;
        height: 5px;
        margin-bottom: 5px;
        background-color: #fff;
        transition: all 1s ease-in-out;
    }
    .navbar-on .bar1, .navbar-on .bar2, .navbar-on .bar3 {
        background-color: white;
    }
    .navbar-on .bar1 {
        transform-origin: 10% 40%;
        transform: rotate(45deg);
    }
    .navbar-on .bar3 {
        transform-origin: 10% 40%;
        transform: rotate(-45deg);
    }
    .navbar-on .bar2 {
        background-color: transparent;
    }
    nav, .navbar-toggle {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    nav {
        position: fixed;
        z-index: 10;
        background-color: rgba(231, 76, 60, 0.95);
        width: 100%;
        height: 100%;
        text-align: center;
        display: table;
        color: white;
    }

    .nav{
        float: none;
    }
    .nav-hide {
        display: none;
    }
    nav ul {
        display: table-cell!important;
        vertical-align: middle;
        padding-left: 0 !important;
    }
    nav ul li {
        list-style: none;
    }
    nav ul li a {
        font-size: 35pt;
        color: inherit;
        font-weight: bolder;
        text-decoration: none;
    }
    #mainArea > div > nav > ul > li > a{
        font-size: 35px;
        line-height: 80px;
        margin-left: 0px;
    }
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 36px;
    }
}

@media only screen and (max-width: 320px) {
    .col-4 {
        padding: 0;
    }
    #features>div>div>div>div>div:nth-child(3)>p, #features>div>div>div>div>div:nth-child(2)>p, #features>div>div>div>div>div:nth-child(1)>p {
        padding: 20px;
    }
}